<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="ProfiilerDBEntities" connectionString="metadata=res://*/ProfilerDB.csdl|res://*/ProfilerDB.ssdl|res://*/ProfilerDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.55\SQLTIME;initial catalog=ProfiilerDB;persist security info=True;user id=sa;password=0047967@qwe@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProfilerDBEntities" connectionString="metadata=res://*/ProfilerDB.csdl|res://*/ProfilerDB.ssdl|res://*/ProfilerDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.55\SQLTIME;initial catalog=ProfiilerDB;persist security info=True;user id=sa;password=0047967@qwe@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProfilerBySSFProject.Properties.Settings.ProfiilerDBConnectionString" connectionString="Data Source=172.16.1.55\SQLTIME;Initial Catalog=ProfiilerDB;Persist Security Info=True;User ID=sa;Password=0047967@qwe@" providerName="System.Data.SqlClient" />
    <add name="ProfilerBySSFProject.Properties.Settings.ProfiilerDBConnectionString1" connectionString="Data Source=.;Initial Catalog=ProfiilerDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ProfilerBySSFProject.Properties.Settings.ProfiilerDBConnectionString2" connectionString="Data Source=.\sqldb;Initial Catalog=ProfiilerDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ProfilerBySSFProject.Properties.Settings.ProfiilerDBConnectionString3" connectionString="Data Source=.\sqldb;Initial Catalog=ProfiilerDB;Persist Security Info=True;User ID=sa;Password=0047967@" providerName="System.Data.SqlClient" />
    <add name="ProfilerBySSFProject.Properties.Settings.ProfiilerDBConnectionString4" connectionString="Data Source=.;Initial Catalog=ProfiilerDB;User ID=sa;Password=0047967@" providerName="System.Data.SqlClient" />
    <add name="ProfilerBySSFProject.Properties.Settings.ProfilerDBConnectionString" connectionString="Data Source=HIDDENPC\PEYMANSQL;Initial Catalog=ProfilerDB;Persist Security Info=True;User ID=sa;Password=0047967@" providerName="System.Data.SqlClient" />
    <add name="ProfilerBySSFProject.Properties.Settings.ProfilerDBConnectionString1" connectionString="Data Source=.;Initial Catalog=ProfilerDB;Persist Security Info=True;User ID=sa;Password=0047967@" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>